header {
    background: #ffffff;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 110px;
}
header .logo img {
    height: 150px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 36px;
    padding: 0px;
}

header nav ul li {
    margin: 10px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.3s;
}
.whatwebelievein {
  padding: 0 50px 0 50px;
  margin: 200px 0 0 0px;
  word-wrap: break-word;
  text-align: justify;
  font-size: 20px;
}
h2 {
  text-align: center;
}
.conversation {
  display: flex;
  text-align: justify;
  font-size: 20px;
}
.problem {
  padding: 20px;
  margin: auto;
  text-align: left;
  background-color: black;
  color: white;
}
.solution {
  padding: 20px;
  margin: auto;
  text-align: right;
}
.image-right {
  float: right;
  width: 40%;
  padding: 10px;
}
.image-left {
  float: left;
  width: 40%;
  padding: 10px;
}
.name-left {
  text-align: left;
  display: inline-block;
}

img {
  width: 200px;
}
.photos{
  display: inline-block;
}
.logo {
  width: 350px;
  height: auto;
  margin-top: 30px;
}

.profiles-container {
    display: flex;
    justify-content: space-around; /* Distribute space around the profiles */
    align-items: flex-start; /* Align items to the start of the container */
    text-align: center; /* Center text inside the profile containers */
    padding: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center elements within each profile */
    max-width: 300px; /* Optional: limit the width of each profile for better layout */
}

.profile img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto;
}

.profile h2 {
    margin: 10px 0;
}

.profile p {
    padding: 0 10px;
    text-align: justify;
}
#contact {
    margin-top: 30px;
    color: white;
    padding: 10px 0px 0px 10px;
	  background-color: black;
}
.social-media {
    list-style: none;
    padding: 10px;
}

.social-media li {
    display: inline-block;
    margin: 10px 10px;
    color
}

.social-media img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}

.social-media img:hover {
    transform: scale(1.1);
}
.social-media a {
  color: red;
}
